[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 1.Introduccion_a_AndroidAnnotations - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/1J-VhIGYDxpFu5gU7ZVBJ9t2bR1RwamfB
Icon=text-html
Name[es_ES]=Introduccion a AndroidAnnotations - Google Drive - Diapositivas
